# .env
APP_DEBUG = true
APP_URL=http://localhost:8000
APP_LOG = false

DB = true
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=dbname
DB_USERNAME=username_db
DB_PASSWORD=password_db

ADMIN_ROLE = 1